<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="fileReadPath" value="TextFiles/Sentence.txt"/>
        <add key ="textSplitter" value="(?&lt;=\.|\?|\!)\s"/>
        <add key="sentenceSplitter" value="\b(\w+)((\p{P}{0,3})\s?)"/>
    </appSettings>
</configuration>